$theme-colors: (
  "primary": #FF8B49,
  "secondary": #28A0F6,
  "danger": #a9b8c3,
  "warning": #353D49,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .85,
  2: $spacer * 1.5,
  3: $spacer * 1.75,
  4: $spacer * 3,
  5: $spacer * 6,
);

@import 'node_modules/bootstrap/scss/bootstrap';